<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/profile.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- FAVICON  -->
    <link rel="icon" href="/img/images/fav1.png">

    <style>
        body{
            background-color: whitesmoke;
            margin-top: 100px;
        }
    </style>
</head>

<body>
    <!-- Header Section Starts here... -->
    <div class="topnav">
        <div id="menu-bar" class="fas fa-bars"></div>

        <a href="/admins/adminland/<%=locals.user.username%>" class="logo"><span>P</span>ACK <span>U</span>R <span>B</span>AGS</a>
        <nav class="navbar">
            <a href="/admins/adminland/<%=user.username%>">Home</a>
        </nav>
    </div>
    <!-- Header Section Ends here... -->
    <h1>profile</h1>
    <% if(locals.edit !=null) {%>
        <% edit.forEach(function(error) { %>
          <div class="alert bg-success" id="msg">
            <strong>success! </strong>
            <%=error.msg2%>
              <!-- <button type="button" class="btn-close" data-bs-dismiss="alert"></button> -->
          </div>
        <% }); %>
    <% } %>
    <% if(locals.change !=null) {%>
        <% change.forEach(function(error) { %>
          <div class="alert bg-success" id="msg">
            <strong>success! </strong>
            <%=error.msg2%>
              <!-- <button type="button" class="btn-close" data-bs-dismiss="alert"></button> -->
          </div>
        <% }); %>   
    <% } %>
    <% if(locals.changep !=null) {%>
        <% changep.forEach(function(error) { %>
          <div class="alert bg-success" id="msg">
            <strong>success! </strong>
            <%=error.msg2%>
              <!-- <button type="button" class="btn-close" data-bs-dismiss="alert"></button> -->
          </div>
        <% }); %>   
    <% } %>
    <% if(locals.removep !=null) {%>
        <% removep.forEach(function(error) { %>
          <div class="alert bg-success" id="msg">
            <strong>success! </strong>
            <%=error.msg2%>
              <!-- <button type="button" class="btn-close" data-bs-dismiss="alert"></button> -->
          </div>
        <% }); %>   
    <% } %>
    <div class="profile">
        <div class="left">
            <div class="profile_img">
                <% if(user.image){ %>
                    <img src="/uploads/<%= user.image%>" alt="profile_image">
                    <%}
                %>
                <% if(!user.image){ %>
                    <img src="/img/images/profile_pic.jpeg" alt="profile picture">
                    <%}
                %>    
                <div class="content">
                    <a href="/profile/remove/<%=locals.user.username%>" class="pic-btn"><i class="bi bi-trash fa-3x"></i></a>
                    <a href="/profile/upload/<%=locals.user.username%>" class="pic-btn"><i class="bi bi-upload fa-3x"></i></a>
                </div>
            </div>
            <a href="/profile/edit/<%=user.username%>" class="prof-btn">edit profile</a>
        </div>
        <div class="right">
            <table>
                <tr>
                    <th width="10%">Name:</th>
                    <td>
                        <%=user.name%>
                    </td>
                </tr>
                <tr>
                    <th width="10%">username:</th>
                    <td>
                        <%=user.username%>
                    </td>
                </tr>
                <tr>
                    <th width="10%">Gender:</th>
                    <td>
                        <%=user.gender%>
                    </td>
                </tr>
                <tr>
                    <th width="10%">phone number:</th>
                    <td>
                        <%=user.phone%>
                    </td>
                </tr>
                <tr>
                    <th width="10%">Email:</th>
                    <td>
                        <%=user.email%>
                    </td>
                </tr>
            </table>
            <a href="/profile/changepass/<%=user.username%>" class="prof-btn">change password</a>
            <a href="/" class="prof-btn">logout</a>
        </div>
    </div>
    
    <section class="bookings">
        <h1 style="color: rgb(9, 255, 0);font-size: 20px;font-family: algerian;">Your Bookings Will Appear Here...</h1>
        <br><br>
        <% if(locals.model !=null){%>
            <table>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Adults</th>
                    <th>Children</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                </tr>
                <% for (const row of model){%>
                    <tr>
                        <td>
                            <%= row.from%>
                        </td>
                        <td>
                            <%= row.to%>
                        </td>
                        <td>
                            <%= row.adults%>
                        </td>
                        <td>
                            <%= row.children%>
                        </td>
                        <td>
                            <%= row.fromdate%>
                        </td>
                        <td>
                            <%= row.todate%>
                        </td>
                        <!-- <td>
                            <td><a href="/profile/remove/<%= row.email%>"><button class="btn">cancel</button></a></td>
                        </td> -->
                    </tr>
                    <%} %>
            </table>
            <%} %>
    </section>

    <section id="fd">
        <h1>Your Feedbacks Will Appear Here...</h1>
        <% if(locals.model !=null){%>
            <table>
                <% for (const row of feedmodel){%>
                    <tr>
                        <td>
                            <%= row.detail%>
                        </td>
                    </tr>
                    <%} %>
            </table>
            <%} %>
    </section>

    <%- include('footer'); %>
        <!-- footer section ends -->
</body>

</html>