<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit profile</title>
    
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="/img/images/fav1.png">

    <style>
        .editform{
            margin-left: 500px;
        }

        .editform .tbox{
            height: 45px;
            width: 400px;
            padding: 7px;
            border: 2px solid black;
            border-radius: 10px;
            font-size: 20px;
        }

        .editform label{
            font-size: 20px;
            font-weight: bolder;
        }

        .editform .tbox input{
            background: none;
            border: none;
            width: 90%;
        }

        .editform .editbtn{
            margin-left: 10px;
            margin-top: 4px;
            width: 190px;
            height: 40px;
            border-radius: 20px;
            background-color: #fac102;
            color: white;
            cursor: pointer;
            padding: 5px;
            font-weight: 800;
            font-size: 20px;
            border: none;
        }

        .editform .editbtn:hover{
            border: 2px solid #fac102;
            background: none;
            color: #fac102;
        }

        .editform .cancelbtn{
            margin-left: 10px;
            margin-top: 4px;
            width: 190px;
            height: 40px;
            background-color: #fac102;
            cursor: pointer;
            padding-top: 7px;
            font-weight: 800;
            font-size: 20px;
            border-radius: 20px;
        }

        .editform .cancelbtn:hover{
            background: none;
            border: 2px solid #fac102;
        }

        .editform a{
            color: whitesmoke;
            text-align: center;
            display: inline-block;
        }

        .editform a:hover{
            color: #fac102;
        }

        .log-alert{
            width: 400px;
        }

        h2{
            font-size: 50px;
            text-align: center;
        }

        a{
            text-decoration-line: none;
            text-transform: none;
        }

        form input{
            border: 1px solid black;
            text-transform: none;
        }
    </style>
</head>
<body>
    <!-- Header Section Starts here... -->
    <header class="topnav" id="topnavbar">
        <div class="linkrow">
            <button class="nav-toggler"><span></span></button>
            <label class="logo"><a href="/index/index" class="logo"><span>P</span>ACK <span>U</span>R
                    <span>B</span>AGS</a></label>
            <div class="links">
                <ul>
                    <li><a href="/index/index">Home</a></li>
                </ul>
            </div>
    </header><br><br><br>
    <!-- Header Section Ends here... -->

    <% if(locals.edit !=null) {%>
        <% edit.forEach(function(message) { %>
            <h2><%=message.msg%></h2>
            <% if(locals.editerr !=null) {%>
                <% editerr.forEach(function(error) { %>
                  <div class="alert alert-danger log-alert" id="msg">
                    <strong>Error! </strong>
                    <%=error.msg%>
                      <!-- <button type="button" class="btn-close" data-bs-dismiss="alert"></button> -->
                  </div>
                <% }); %>
            <% } %>
            <form action="/profile/edit" method="post" class="editform">
                <label for="upname">Name: </label>
                <input type="text" class="tbox" name="upname" placeholder="Enter your name" value="<%=user.name%>"><br><br><br>
                <label for="upgender">Gender:</label>
                <% if(user.gender === 'male'){%> 
                    <input type="radio" name="upgender" id="male" value="male" checked>
                <%}%>
                <% if(user.gender != 'male'){%> 
                    <input type="radio" name="upgender" id="male" value="male">
                <%}%>
                <label for="male">male</label>
                <% if(user.gender === 'female'){%> 
                    <input type="radio" name="upgender" id="male" value="female" checked>
                <%}%>
                <% if(user.gender != 'female'){%> 
                    <input type="radio" name="upgender" id="male" value="female">
                <%}%>
                <!-- <input type="radio" name="upgender" id="male" value="male"> -->
                <!-- <input type="radio" name="upgender" id="female" value="female"> -->
                <label for="female">female</label><br><br><br>
                <label for="upphone">Phone number:</label>
                <input type="text" class="tbox" name="upphone" placeholder="Enter your phone number" value="<%=user.phone%>"><br><br><br>
                <label for="pass">Password:</label>
                <div class="tbox">
                    <input type="password" name="pass" id="pas" placeholder="Enter your password">
                    <i class="fa fa-eye fa-x" style="cursor: pointer;" id="show-pass"></i>
                </div><br>
                <a href="/profile/profile" class="cancelbtn">cancel</a>
                <!-- <button disabled="disabled" class="editbtn"><a href="/profile/profile/<%=user.username%>">cancel</a></button> -->
                <input type="submit" class="editbtn" value="save changes">
            </form> 
        <% }); %>
    <% } %>

    <% if(locals.change !=null) {%>
        <% change.forEach(function(message) { %>
            <h2><%=message.msg%></h2>
            <% if(locals.changeerr !=null) {%>
                <% changeerr.forEach(function(error) { %>
                  <div class="alert alert-danger log-alert" id="msg">
                    <strong>Error! </strong>
                    <%=error.msg%>
                      <!-- <button type="button" class="btn-close" data-bs-dismiss="alert"></button> -->
                  </div>
                <% }); %>
            <% } %>
            <form action="/profile/changepass" method="post" class="editform">
                <label for="oldpass">old password:</label>
                <div class="tbox">
                    <input type="password" name="oldpass" id="pas" placeholder="Enter your old password">
                    <i class="fa fa-eye fa-x" id="show-pass" style="cursor: pointer;"></i>
                </div><br><br>
                <label for="newpass1">new password:</label>
                <div class="tbox">
                    <input type="password" name="newpass1" id="pas2" placeholder="Enter your new password">
                    <i class="fa fa-eye fa-x" id="show-pass2" style="cursor: pointer;"></i>
                </div><br><br>
                <label for="newpass2">new password:</label>
                <div class="tbox">
                    <input type="password" name="newpass2" id="pas3" placeholder="Confirm your new password">
                    <i class="fa fa-eye fa-x" id="show-pass3" style="cursor: pointer;"></i>
                </div><br><br>
                <a href="/profile/profile" class="editbtn">cancel</a>
                <input type="submit" class="editbtn" value="change password">
            </form> 
        <% }); %>
    <% } %>

    <% if(locals.changep !=null) {%>
        <% changep.forEach(function(message) { %>
            <h2><%=message.msg%></h2>
            <% if(locals.proferr !=null) {%>
                <% proferr.forEach(function(error) { %>
                  <div class="alert alert-danger log-alert" id="msg">
                    <strong>Error! </strong>
                    <%=error.msg%>
                      <!-- <button type="button" class="btn-close" data-bs-dismiss="alert"></button> -->
                  </div>
                <% }); %>
            <% } %>
            <form action="/profile/upload" method="post" class="editform" enctype="multipart/form-data">
                <input type="file" class="tbox" name="photo" placeholder="upload"><br><br><br>
                <div class="tbox">
                    <input type="password" name="pass" id="pas" placeholder="Enter your password">
                    <i class="fa fa-eye fa-x" id="show-pass" style="cursor: pointer;"></i>
                </div><br><br><br>
                <a href="/profile/profile" class="cancelbtn">cancel</a>
                <input type="submit" class="editbtn" value="upload photo">
            </form> 
        <% }); %>
    <% } %>

    <% if(locals.removep !=null) {%>
        <% removep.forEach(function(message) { %>
            <h2><%=message.msg%></h2>
            <% if(locals.remerr !=null) {%>
                <% remerr.forEach(function(error) { %>
                  <div class="alert alert-danger log-alert" id="msg">
                    <strong>Error! </strong>
                    <%=error.msg%>
                      <!-- <button type="button" class="btn-close" data-bs-dismiss="alert"></button> -->
                  </div>
                <% }); %>
            <% } %>
            <form action="/profile/remove" method="post" class="editform">
                <div class="tbox">
                    <input type="password" name="pass" placeholder="Enter your password">
                    <i class="fa fa-eye fa-x"></i>
                </div><br><br><br>
                <a href="/profile/profile" class="cancelbtn">cancel</a>
                <input type="submit" class="editbtn" value="remove photo">
            </form> 
        <% }); %>
    <% } %>
</body>

<script>
    const showPassword = document.querySelector('#show-pass');
const showPassword2 = document.querySelector('#show-pass2');
const showPassword3 = document.querySelector('#show-pass3');
const password = document.querySelector('#pas');
const password2 = document.querySelector('#pas2');
const password3 = document.querySelector('#pas3');

showPassword.addEventListener('click', function (e) {
    console.log('called');
  if(password.type === 'password'){
    password.setAttribute('type', 'text');
    this.classList.add('fa-eye-slash');
    this.classList.remove('fa-eye')
  } else{
    password.setAttribute('type','password');
    this.classList.add('fa-eye');
    this.classList.remove('fa-eye-slash')
  }
});

showPassword2.addEventListener('click', function (e) {
  if(password2.type === 'password'){
    password2.setAttribute('type', 'text');
    this.classList.add('fa-eye-slash');
    this.classList.remove('fa-eye')
  } else{
    password2.setAttribute('type','password');
    this.classList.add('fa-eye');
    this.classList.remove('fa-eye-slash')
  }
});

showPassword3.addEventListener('click', function (e) {
  if(password3.type === 'password'){
    password3.setAttribute('type', 'text');
    this.classList.add('fa-eye-slash');
    this.classList.remove('fa-eye')
  } else{
    password3.setAttribute('type','password');
    this.classList.add('fa-eye');
    this.classList.remove('fa-eye-slash')
  }
});
</script>
</html>