<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= data.to %>
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <style>
        .place-box {
            border: 3px solid rgba(130, 127, 127, 0.5);
            box-sizing: border-box;
            box-shadow: 10px 10px 10px 10px rgba(30, 28, 28, 0.5);
            margin: 10px 70px;
            height: 100%;
            border-radius: 30px;
        }

        .place-box .heading {
            height: 350px;
            width: 100%;
            padding: 20px 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .place-box .heading .pic {
            padding: 10px 30px;
        }

        .place-box .heading .pic img {
            height: 300px;
            width: 350px;
            border-radius: 30px;
        }

        .place-box .heading .details {
            margin-left: 20px;
            height: 260px;
        }
        
        .place-box .heading .details .content{
            margin-top: 40px;
            height: 70%;
        }

        .place-box .heading .details h2 {
            position: relative;
            font-size: 30px;
        }

        .place-box .heading .details i {
            color: #fac102;
            font-size: 23px;
        }

        .place-box .heading .details p,a {
            font-size: 23px;
            margin-top: 20px;
            color: black;
        }

        .place-box .heading .details .rating {
            margin-top: 4px;
        }

        .place-box .info {
            margin: 10px 30px;
        }

        .place-box .info h3 {
            font-size: 30px;
        }

        .place-box .info p {
            font-size: 20px;
        }

        .place-box .review-submit{
            padding-top: 20px;
            padding-left: 10px;
            box-sizing: border-box;
        }

        .place-box .review-submit label{
            font-size: 18px;
            text-transform: none;
        }

        .place-box .review-submit select,textarea{
            border:3px solid rgba(25, 19, 19, 0.764);
            border-radius: 10px;
            padding: 5px;
            font-size: 15px;
            text-transform: none;
        }

        .place-box .place-btn {
        background-color: #fac102;
        width: 150px;
        height: 40px;
        font-size: 20px;
        border-radius: 20px;
        cursor: pointer;
        padding-top: 3px;
        margin-top: 10px;
        color: #fff;
      }

      .place-box .place-btn:hover {
        background: none;
        color: #fac102;
        border: 2px solid #fac102;
        padding-top: 5px;
        font-weight: bold;
      }

      .place-box .review{
        margin-top: 20px;
        border-top: 2px solid rgba(28, 27, 27, 0.5);
      }

      .place-box .review h3{
        font-size: 30px;
        margin-left: 20px;
      }

      .place-box .review .content{
        margin-left: 20px;
        border: 1px solid rgba(0,0,0,0.5);
        box-sizing: border-box;
        margin-bottom: 20px;
      }
    </style>
</head>

<body>
    <%- include('navbar'); %>
        <% if(data){%>
            <div class="place-box">
                <div class="heading">
                    <div class="pic">
                        <img src="/places/<%= data.photo%>" alt="<%= data.to %>">
                    </div>
                    <div class="details">
                        <div class="content">
                            <h2><i class="fas fa-map-marker-alt"></i>
                                <%= data.to %>
                            </h2>
                            <p>rating: <%= data.rating %>
                            </p>
                            <div class="rating">
                                <div class="stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="button">
                            <button type="button" class="place-btn" onclick="location.href='/book/book'">Book Now</button>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <h3>Information:</h3>
                    <p>
                        <%= data.details %>
                    </p>
                </div>
                <div class="review" id="reviews">
                    <h3>Reviews:</h3>
                    <div class="review-submit">
                        <form action="places/review" method="post">
                            <label for="rating">Give your rating:</label>
                            <select name="rating" id="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select><br><br>
                            <label for="review">Submit your review:</label><br>
                            <textarea name="review" id="review" cols="50" rows="5" placeholder="submit your review"></textarea><br><br>
                            <button type="submit" class="place-btn">Submit</button>
                        </form>
                    </div>
                    <div class="content">
                        <p>
                            <%= data.details %>
                        </p>
                    </div>
                </div>
            </div>
            <%} %>

            <script src="/js/script.js"></script>
</body>

</html>