<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= data.to %>
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <style>
        .place-box {
            border: 3px solid rgba(130, 127, 127, 0.5);
            box-sizing: border-box;
            box-shadow: 10px 10px 10px 10px rgba(30, 28, 28, 0.5);
            margin: 10px 70px;
            height: 100%;
            border-radius: 30px;
        }

        .place-box .heading {
            height: 350px;
            width: 100%;
            padding: 20px 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .place-box .heading .pic {
            padding: 10px 30px;
        }

        .place-box .heading .pic img {
            height: 300px;
            width: 450px;
            border-radius: 30px;
        }

        .place-box .heading .details {
            padding: 30px 40px;
            text-align: left;
        }

        .place-box .heading .details h2 {
            position: relative;
            font-size: 30px;
        }

        .place-box .heading .details i {
            color: #fac102;
            font-size: 23px;
        }

        .place-box .heading .details p,
        a {
            font-size: 23px;
            margin-top: 20px;
            color: black;
        }

        .place-box .heading .details .rating {
            margin-top: 4px;
        }

        .place-box .heading .details .book-button {
            margin-top: 100px;
        }

        .place-box .info {
            margin: 10px 30px;
        }

        .place-box .info h3 {
            font-size: 30px;
        }

        .place-box .info p {
            font-size: 20px;
        }

        .modal-bg {
            height: 100vh;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            top: 0;
            left: 0;
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            visibility: hidden;
            opacity: 0;
            transition: visibilty 0s, opacity 0.5s;
        }

        .bg-active {
            visibility: visible;
            opacity: 1;
        }

        .modal-bg .review-submit {
            position: relative;
            background-color: #fff;
            height: 50%;
            width: 40%;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        .modal-bg .review-submit span {
            position: absolute;
            display: flex;
            top: 0px;
            right: 0px;
            font-size: 20px;
            width: 60px;
            height: 40px;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            cursor: pointer;
        }

        .modal-bg .review-submit span:hover {
            background-color: rgba(255, 0, 0, 0.734);
            color: #fff;
        }

        .modal-bg .review-submit h2 {
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            margin-top: 10px;
        }

        .modal-bg .review-submit form {
            padding: 20px 30px;
        }

        .modal-bg .review-submit label {
            font-size: 18px;
            margin-top: 5px;
            text-transform: none;
        }

        .modal-bg .review-submit select {
            border: 1px solid rgba(25, 19, 19, 0.764);
            border-radius: 10px;
            padding: 5px;
            font-size: 15px;
            text-transform: none;
            cursor: pointer;
        }

        .modal-bg .review-submit textarea {
            border: 3px solid rgba(25, 19, 19, 0.764);
            border-radius: 10px;
            margin-top: 10px;
            padding: 5px;
            font-size: 15px;
            text-transform: none;
        }

        .place-box .review {
            margin-top: 20px;
            border-top: 2px solid rgba(28, 27, 27, 0.5);
            padding: 20px;
        }

        .place-box .review h3 {
            font-size: 30px;
        }

        .place-box .review .content {
            margin-left: 20px;
            border: 2px solid rgba(0, 0, 0, 0.5);
            border-radius: 20px;
            box-sizing: border-box;
            margin-top: 20px;
            margin-bottom: 20px;
            position: relative;
            padding: 10px;
        }

        .place-box .review .content img {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            float: left;
        }

        .place-box .review .content h5 {
            float: left;
            margin-left: 20px;
            margin-top: 5px;
            font-size: 15px;
        }

        .place-box .review .content p {
            margin-top: 10px;
            font-size: 12px;
        }
    </style>
</head>

<body>
    <%- include('navbar'); %>
        <% if(data){%>
            <div class="place-box">
                <div class="heading">
                    <div class="pic">
                        <img src="/places/<%= data.photo%>" alt="<%= data.to %>">
                    </div>
                    <div class="details">
                        <div class="content">
                            <h2><i class="fas fa-map-marker-alt"></i>
                                <%= data.to %>
                            </h2>
                            <p>rating: 
                                    <div class="rating">
                                        <div class="stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                    </div>
                            </p>
                        </div>
                        <div class="book-button">
                            <button type="button" class="btn" onclick="location.href='/book/book'">Book Now</button>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <h3>Information:</h3>
                    <p>
                        <%= data.details %>
                    </p>
                </div>
                <div class="review" id="reviews">
                    <h3>Reviews:</h3>
                    <button type="button" class="btn" onclick="review_rating()">Submit review</button>
                    <% data.reviews.forEach(function(review) { %>
                        <div class="content">
                            <img src="/uploads/<%= review.user.image%>" alt="<%= data.to %>">
                            <h5>
                                <%= review.user.username %>
                            </h5><br><br>
                            <p>
                                <%= review.review %>
                            </p>
                        </div>
                        <% }); %>
                </div>
            </div>
            <%} %>
                <div class="modal-bg">
                    <div class="review-submit">
                        <h2>Submit your review and rating</h2>
                        <form action="/places/review/<%= data.id %>" method="post">
                            <label for="rating">Give your rating:</label>
                            <select name="rating" id="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select><br>
                            <label for="review">Submit your review:</label>
                            <textarea name="review" id="review" cols="50" rows="3"
                                placeholder="submit your review"></textarea><br>
                            <button type="submit" class="btn">Submit</button>
                        </form>
                        <span onclick="review_rating()">X</span>
                    </div>
                </div>

</body>
<script src="/js/navbar.js"></script>
<script>
    function review_rating() {
        const modalBg = document.querySelector(".modal-bg");
        modalBg.classList.toggle("bg-active")
    }
</script>

</html>