<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/profile.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <!-- FAVICON  -->
    <link rel="icon" href="/img/images/fav1.png">

    <style>
        a{
            text-decoration-line: none;
        }
    </style>
</head>

<body>
    <!-- Header Section Starts here... -->
    <header class="topnav" id="topnavbar">
        <div class="linkrow">
            <button class="nav-toggler"><span></span></button>
            <label class="logo"><a href="/index/index" class="logo"><span>P</span>ACK <span>U</span>R
                    <span>B</span>AGS</a></label>
            <div class="links">
                <ul>
                    <li><a href="/index/index">Home</a></li>
                </ul>
            </div>
    </header>
    <!-- Header Section Ends here... -->
    <h1 style="font-size: 40px;">profile</h1>
    <% if(locals.edit !=null) {%>
        <% edit.forEach(function(error) { %>
          <div class="alert bg-success" id="msg">
            <strong>success! </strong>
            <%=error.msg2%>
              <!-- <button type="button" class="btn-close" data-bs-dismiss="alert"></button> -->
          </div>
        <% }); %>
    <% } %>
    <% if(locals.change !=null) {%>
        <% change.forEach(function(error) { %>
          <div class="alert bg-success" id="msg">
            <strong>success! </strong>
            <%=error.msg2%>
              <!-- <button type="button" class="btn-close" data-bs-dismiss="alert"></button> -->
          </div>
        <% }); %>   
    <% } %>
    <% if(locals.changep !=null) {%>
        <% changep.forEach(function(error) { %>
          <div class="alert bg-success" id="msg">
            <strong>success! </strong>
            <%=error.msg2%>
              <!-- <button type="button" class="btn-close" data-bs-dismiss="alert"></button> -->
          </div>
        <% }); %>   
    <% } %>
    <% if(locals.removep !=null) {%>
        <% removep.forEach(function(error) { %>
          <div class="alert bg-success" id="msg">
            <strong>success! </strong>
            <%=error.msg2%>
              <!-- <button type="button" class="btn-close" data-bs-dismiss="alert"></button> -->
          </div>
        <% }); %>   
    <% } %>
    <div class="profile">
        <div class="left">
            <div class="profile_img">
                <% if(user.image){ %>
                    <img src="/uploads/<%= user.image%>" alt="profile_image">
                    <%}
                %>
                <% if(!user.image){ %>
                    <img src="/img/images/profile_pic.jpeg" alt="profile picture">
                    <%}
                %>    
                <div class="content">
                    <i class="bi bi-trash fa-3x" onclick="location.href='/profile/remove'"></i>
                    <i class="bi bi-upload fa-3x" onclick="location.href='/profile/upload'"></i>
                </div>
            </div>
            <a href="/profile/edit" class="prof-btn">edit profile</a>
        </div>
        <div class="right">
            <table>
                <tr>
                    <th width="10%">Name:</th>
                    <td>
                        <%=user.name%>
                    </td>
                </tr>
                <tr>
                    <th width="10%">username:</th>
                    <td>
                        <%=user.username%>
                    </td>
                </tr>
                <tr>
                    <th width="10%">Gender:</th>
                    <td>
                        <%=user.gender%>
                    </td>
                </tr>
                <tr>
                    <th width="10%">phone number:</th>
                    <td>
                        <%=user.phone%>
                    </td>
                </tr>
                <tr>
                    <th width="10%">Email:</th>
                    <td>
                        <%=user.email%>
                    </td>
                </tr>
            </table>
            <a href="/profile/changepass" class="prof-btn">change password</a>
            <a href="/logout" class="prof-btn">logout</a>
        </div>
    </div>
    
    <script src="/js/navbar.js"></script>
</body>

</html>