<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beach</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/placepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/area.css">
    <link rel="icon" href="/img/images/fav1.png">

    <script src="/js/script.js"></script>
    <style>
        .place-box {
            border: 3px solid rgba(0, 0, 0, 0.533);
            height: 270px;
            margin: 7px 200px 10px 200px;
            border-radius: 25px;
            padding: 6px 5px;
            display: grid;
            grid-template-columns: 1fr 2fr;
        }

        .place-box:hover{
            box-shadow: 10px 15px #2f2e2e;
        }

        .place-box .place-pic {
            width: 340px;
            height: 100%;
            float: left;
            border-right: 2px solid rgba(0, 0, 0, 0.455);
        }

        .place-box .place-pic img {
            width: 330px;
            height: 250px;
            border-radius: 20px 0px 0px 20px;
        }

        .place-box .place-details {
            float: left;
            height: 100%;
            display: block;
        }

        .place-box .place-details .details {
            height: 200px;
            border-bottom: 2px solid rgba(0, 0, 0, 0.455);
            overflow: hidden;
        }

        .place-box .place-details .details i {
            color: #fac102;
        }

        .place-box .place-details .details h2 {
            font-size: 25px;
        }

        .place-box .place-details .details p {
            font-size: 18px;
        }

        .place-box .button {
            padding: 10px;
        }

        .place-box .button a {
            color: #fff;
            display: inline-block;
            text-align: center;
        }

        .place-box .button .place-btn {
            background-color: #fac102;
            width: 150px;
            height: 40px;
            font-size: 20px;
            border-radius: 20px;
            cursor: pointer;
            padding-top: 7px;
        }

        .place-box .button .place-btn:hover {
            background: none;
            color: #fac102;
            border: 2px solid #fac102;
            padding-top: 5px;
        }
    </style>
</head>

<body>
    <%- include('navbar'); %>
        <% if(data){%>
            <h1 style="text-align: center; font-size:50px;">PLACES</h1>
            <% for(const i of data) {%>
                <div class="place-box">
                    <div class="place-pic">
                        <img src="/places/<%= i.photo%>" alt="<%= i.to %>">
                    </div>
                    <div class="place-details">
                        <div class="details">
                            <h2><i class="fas fa-map-marker-alt"></i>
                                <%= i.to %>
                            </h2>
                            <p>
                                <%= i.details %>
                            </p>
                        </div>
                        <div class="button">
                            <a href="#" class="place-btn">See More</a>
                        </div>
                    </div>
                </div>
                <%}%>
                    <%} %>
</body>

</html>